.footer {
    background-color: #4D4D4D;
    padding: 60px 0 40px;
    position: relative;
    z-index: 2;
}

.footer__logo {
    margin-bottom: 48px;

    img {
        width: 172px;
        background-size: cover;
    }
}

.footer__socials {
    display: flex;
    align-items: center;

    li {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }

        img {
            width: 44px;
            height: 44px;
            background-size: cover;
            border-radius: 50%;
        }

        a{
            display: block;
            border-radius: 50%;
            transition: .3s ease;
            &:hover{
                background: #E9741C;
            }
        }
    }
}

.footer__menu {
    display: flex;

    ul+ul {
        margin-left: 83px;
    }

    li {
        &+li {
            margin-top: 31px;
        }
    }

    a {
        font-size: 16px;
        color: #fff;
        line-height: 140%;
        font-weight: 600;
        transition: .3s ease;

        &:hover {
            color: #E9741C;
        }
    }
}

.footer__info {
    width: 100%;
}

.footer__descr {
    margin-bottom: 48px;

    p {
        line-height: 140%;
        font-size: 16px;
        font-weight: 300;
        color: #fff;
    }
}

.footer__subscribe {
    width: 100%;
    margin-bottom: 40px;

    form {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input[type="text"],
        input[type="email"] {
            width: 57%;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            border-radius: 36px;
            font-size: 16px;
            line-height: 140%;
            border: 1px solid #fff;
            background-color: transparent;
            padding: 2px 24px;
            text-align: center;
            transition: .3s ease;


            &::placeholder {
                color: #828282;
                transition: .3s ease;
            }

            &:focus::placeholder {
                opacity: 0;
            }

            &:focus {
                border-color: #E9741C;
            }
        }

        input[type="submit"] {
            width: 42%;
            height: 48px;
            text-align: center;
            color: #E9741C;
            border-radius: 36px;
            border: 1px solid #E9741C;
            font-size: 18px;
            line-height: 140%;
            background-color: transparent;
            transition: .3s ease;

            &:hover {
                &:hover {
                    color: #4D4D4D;
                    background-color: #E9741C;
                    animation: pulse 1.5s .1s infinite;
                }
            }
        }
    }
}

.footer__links {
    border-bottom: 1px solid #fff;
    padding-bottom: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        font-size: 16px;
        line-height: 140%;
        color: #fff;
        transition: .3s ease;

        &:hover {
            color: #E9741C;
        }

        &:first-child {
            width: 57%;
        }

        &:nth-child(2) {
            width: 42%;
        }
    }
}



// ---=== ADAPTIVE ===--- //

@media (max-width:1399.8px) {
    .footer__subscribe form input[type=text] {
        width: calc(50% - 3px);
    }

    .footer__subscribe form input[type=submit] {
        width: calc(50% - 3px);
    }

    .footer__links a:first-child {
        width: calc(50% - 3px);
    }

    .footer__links a:nth-child(2) {
        width: calc(50% - 5px);
    }
}

@media (max-width:1199.8px) {
    .footer__descr {
        margin-top: 40px;
    }
}

@media (max-width:767.8px) {
    .footer__socials {
        margin-bottom: 40px;
    }
}
@media (max-width:575.8px) {
    .footer__subscribe form{
        flex-wrap: wrap;
    }
    .footer__subscribe form input[type=text] {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer__subscribe form input[type=submit] {
        width: 100%;
    }
}