.header {
    position: fixed;
    z-index: 9;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(#cbcbcb, .25);
    background-color: #fafafa;
}

.header__inner {
    height: 97px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    a {
        display: block;
    }

    img {
        max-width: 108px;
        width: 100%;
        background-size: cover;
    }
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.header__menu {
    display: flex;
    align-items: center;
    height: 100%;

    >li {
        margin-right: 28px;
        height: 100%;

        >a {
            color: #2D2D2D;
            line-height: 140%;
            font-size: 16px;
            font-weight: 600;
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;

            &:after {
                content: '';
                position: absolute;
                background-color: #E9741C;
                bottom: 0px;
                left: 50%;
                width: 0;
                height: 1px;
                border-radius: 20px;
                transition: .3s ease-in-out;
            }

            &:hover {
                &:after {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }


}

.burger {
    display: none;
}

.mobile-dropdown {
    display: none;

    li {
        display: none;
    }
}

.submenu-dropdown {
    position: absolute;
    padding: 24px 0;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    transform: translateY(5px);
}

.submenu {
    &:hover {
        >a:after {
            width: 100%;
            left: 0;
        }

        .submenu-dropdown {
            z-index: 5;
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
            backdrop-filter: blur(50px);
        }
    }
}

.submenu-dropdown__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submenu-dropdown__info {
    max-width: 338px;
    color: #000;
    line-height: 140%;

    .title {
        font-size: 24px;
        margin-bottom: 7px;
    }

    .descr {
        font-size: 16px;
        margin-bottom: 16px;
        font-weight: 300;
    }

    .button {
        padding: 14px 27px;
    }
}

.submenu-dropdown__nav {
    width: 68%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

    li {
        width: 30%;
    }

    img {
        width: 68px;
        height: 50px;
        background-size: cover;
        margin-right: 12px;
    }

    a {
        display: flex;
        align-items: center;
        color: #000;
        line-height: 140%;
        font-size: 18px;
        font-weight: 600;
        transition: .3s;

        &:hover {
            color: #E9741C;
        }
    }
}


// ---=== ADAPTIVE ===--- //


@media (max-width:1599.8px) {
    .submenu-dropdown__nav {
        width: 70%;
    }
}

@media (max-width:1399.8px) {
    .submenu-dropdown__nav li {
        width: 45%;
    }
}


@media (max-width:1199.8px) {
    .submenu-dropdown__nav {
        width: 60%;
    }

    .submenu-dropdown__nav a {
        font-size: 16px;
    }

    .submenu-dropdown__info .button {
        padding: 10px 22px;
    }

    .submenu-dropdown__info .title {
        font-size: 22px;
        margin-bottom: 5px;
    }

    .header__menu>li {
        margin-right: 20px;

        >a {
            font-size: 14px;
        }
    }

    .header__inner {
        height: 85px;
    }

    .header__logo img {
        max-width: 95px;
    }

    .header__button a {
        padding: 7px 23px;
    }

}

@media (max-width:991.8px) {
    .mobile-dropdown {
        display: none;
        padding: 10px 20px 0px 20px;

        a {
            color: #2D2D2D;
            line-height: 140%;
            font-size: 16px;
            font-weight: 500;
        }

        li {
            display: block;

            &+li {
                margin-top: 5px;
            }
        }
    }

    .submenu-dropdown {
        display: none;
    }

    .header__nav {
        position: fixed;
        background-color: #fafafa;
        top: 85px;
        right: 0;
        height: calc(100vh - 85px);
        width: 100%;
        transform: translateX(100%);
        transition: 1s;
        width: 100%;
        display: block;
        align-items: flex-start;
        box-shadow: 0 2px 4px 0 rgba(#cbcbcb, .25);
        padding: 40px;

        &.open {
            transform: translate(0);
            width: 40%;
        }
    }

    .header__menu {
        display: block;
        height: auto;
        margin-bottom: 50px;

        >li {
            height: auto;
            margin-bottom: 20px;

            >a {
                font-size: 16px;
                display: inline-block;

                &:after {
                    bottom: -2px;
                }

                &:hover {
                    &:after {
                        width: 0;
                        left: 50%;
                    }
                }

                &.active {
                    &:after {
                        left: 0%;
                        width: 100%;
                    }
                }
            }
        }
    }

    .header__button a {
        padding: 8px 40px;
    }

    .burger {
        display: block;
        border: none;
        background-color: transparent;
        outline: none;
        padding: 0;
        width: 24px;
        height: 24px;
        overflow: hidden;
        z-index: 22;

        span {
            display: block;
            height: 2px;
            background: #E9741C;
            margin: 4px 0;
            border-radius: 5px;
            transition: 0.5s;
            transform-origin: 0 0;
        }

        &.open {
            span {
                background: #E9741C;

                &:nth-child(1) {
                    transform: translateX(4px) translateY(-2px) rotate(45deg);
                }

                &:nth-child(2) {
                    transform: translateX(100%);
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: translateX(2px) translateY(3px) rotate(-45deg);
                }
            }
        }
    }
}

@media (max-width:767.8px) {
    .header__nav.open {
        width: 60%;
    }
}

@media (max-width:575.8px) {
    .header__nav.open {
        width: 80%;
    }
}

@media (max-width:424.8px) {
    .header__nav.open {
        width: 100%;
    }
}